.switch {
  display: block;
  height: 22px;
  width: 48px;
  background-color: grey;
  border-radius: 22px;
  padding: 0;
  border: 0;
}

.switch-checked {
  background-color: blue;
}

.switch-inner {
  position: relative;
  left: 2px;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: white;
  transition: 1s;
}

.switch-checked .switch-inner {
  left: 30px;
}

.switch-disabled {
  opacity: 0.5;
}
